<div class="post">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
</div>

<div class="comments">
  {{#each comments}}
    <div class="comment">
      <p>{{content}}</p>
      <p>Commented by {{user.username}} on {{format_date createdAt}}</p>
      <button data-id="{{id}}" class="btn btn-danger delete-comment">Delete Comment</button>
    </div>
  {{/each}}
</div>

{{#if logged_in}}
  <form class="comment-form">
    <div class="mb-3">
      <label for="comment-content" class="form-label">Add a Comment</label>
      <textarea id="comment-content" class="form-control" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit Comment</button>
  </form>
{{/if}}

<script src="/js/comment.js"></script>
<script src="/js/delete.js"></script>
